.marquee {
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}

.marquee p {
  animation: scroll-left 40s linear infinite;
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;

}

@keyframes scroll-left {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-100%);
  }
}